html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: none;
  touch-action: none;
  position: fixed;
}

canvas {
  width: 100%;
  height: 100vh;
  display: block;
  touch-action: none;
}
