html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: none;
  
  /**
   * This will ensure that mobile browsers don't hide the address
   * bar. We want this, because if they do, they take over the
   * pointermove event for vertical moves.
   */
  position: fixed;
}

body {
  background: #343;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

canvas {
  width: 100%;
  height: 100vh;
  display: block;
  touch-action: none;
}

.search-bar {
  padding: 5px;
  font-size: 120%;
  display: flex;
}

.search-bar label {
  padding-right: 10px;
}

.search-bar input {
  flex: 1;
  padding-right: 10px;
}
